#header{
    margin-top: 5px;
}

.nav-link:hover{
    text-decoration: underline;
}

.logo{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

span{
    font-size: larger;
    font-family: fantasy;
    margin: auto;
}

.main{
    display: none;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.main_heading{
    font-family: monospace;
}

.login_form{
    border: 1px solid;
    box-shadow: 5px 5px 10px 5px;
    display: block;
    margin-top: 100px;
    width: 500px;
}

.form{
    margin: 20px;
}

.submit{
    background-color: aqua;
    box-shadow: 2px 1px 1px 2px;
    border-radius: 10px;
}
